@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(68, 68, 68);
}

/* configurações iniciais dos links*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;}

a:hover {
    color: rgb(154, 19, 216);
}

/* Cabeçalho */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo {
    text-align: center;

}

.valley {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
}


.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(63, 107, 122);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}
/*dropdown_menu :)*/
.dropdown_menu {
    position: absolute;
    height: 0px;
    right: 2rem;
    top: 60px;
    background: rgba(63, 107, 122, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
    
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*main*/

section#principal {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#principal h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#brasil {
    color: rgb(89, 134, 20);
    font-weight: bold;
}

.action_btnprinc {
    background-color: rgb(108, 0, 170);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-top: 50px;
}

.action_btnprinc:hover {
    scale: 1.05;
    color: white;
}

.action_btnprinc:active{
    scale: 0.95;
}

/* Noticias */

.container1 {
    display: flex;
    width: 96%;
    padding: 20px;
    margin: 1rem;
}

.card {
    position: relative;
    flex: 1;
    width: 800px;
    height: 400px;
    transition: flex 0.8s ease;
    transition-delay: 0.2s;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.329);
}

.titles {
    position: absolute;
    bottom: 20px; /* Define a distância do texto até a base do card */
    color: #fff; /* Adicione uma cor para destacar o texto sobre a imagem */
    font-size: 1.2rem; /* Ajuste o tamanho do texto conforme necessário */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente para legibilidade */
    padding: 10px;
    border-radius: 8px;
}

.card:hover {
    flex: 3;
}

.card:hover img {
    filter: none;
}

#borde1 {
    border-radius: 20px 0px 0px 20px;
}

#borde2 {
    border-radius: 0px 20px 20px 0px;
}










/*Responsividade*/

@media(max-width: 992px){
    .navbar .links,
    .navbar  .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}